body{
	font-family: Arial, Helvetica, Sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
/* Golobal */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
	text-align: right;
}

.button_1{
	height: 2%;
	background: #e8491d;
	border: 0;
	padding-left: 2%;
	padding-right: 2%;
	color: #ffffff;
}
/* Header */
header{
	background: #35424a;
	color: #ffffff;
	padding-top: 3%;
	min-height: 4%;
	border-bottom: #e8491d 3px solid;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header ul{
	margin: 0;
	padding: 0;
}

header li{
     display: flex;
     flex-direction: row;
	display: inline;
	padding: 0 20px 0 20px;

}

header #branding{
	display: inline;
}

#branding img{
	height: 80px;
	
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header.highlight, header .current a{
	color: #e8491d;
	font-weight: bold;
}

header a:hover{
	color: #cccccc;
	font-weight: bold;
}

/* showcase */
#showcase{
	 
	height: 300px;
	width: 100%;
	padding: 4%;
	padding-bottom: 2%;
	animation-name:slider1;
	animation-duration:5s;
	animation-iteration-count: infinite;
	background: url(../image/sun.jpg) no-repeat center;
	background-size: cover;
	//position: absolute;
}

@keyframes slider1{
	0%{background: url(../image/sun.jpg) no-repeat center;}
	15%{background: url(../image/sun.jpg) no-repeat center;}
	25%{background: url(../image/sky.jpg) no-repeat center;}
	50%{background: url(../image/water.jpg) no-repeat center;}
	75%{background: url(../image/chandra.jpg) no-repeat center;}
	85%{background: url(../image/nami.jpg) no-repeat center;}
	100%{background: url(../image/butterfly.jpg) no-repeat center;}
}


/* newsletter */
#newsletter{
	padding: 15px;
	color: #ffffff;
	background: #35424a;
	margin-top: 2%%;
}

#newsletter h1{
    display: flex;
    flex-direction: row;
    text-align: right;
    display: inline;
}

#newsletter form{
	float: right;
	margin-top: 15px;
}

#newsletter input[type:"email"]{
	padding: 1%;
	height: 5%;
	width: 80%;
}

/* Boxes */
#boxes{
	margin-top: 1%;
	display: flex;
	flex-direction: row;
	


}

#boxes .box{
    float: left;
    text-align: center;
	width: 30%;
	padding: 1%;
	border-top-style: dotted;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: solid;
	border-radius: 7px;
	background-color: grey;
	border-color: yellow;


}

#boxes h3{
	font-size: 30px;
	font-family: areial;
	color: white;
}

#boxes p{
	margin: 2px;
	color: yellow;
}

#boxes img{
	height: 100px;
	width: 55%;
	padding: 2%;
	


}

/* social media */
.top-sider {
	width: 12%;
	height: 40%;
	background-color: orange;
}

.top-sider a img{
	height: 35px;
	margin: 0 0 0 4px;
	padding: 1px 1px 1px 1px;
}

#main p{
  margin: 2px;
  text-decoration:underline;
  color: green;
  border-left: 6px solid red;
  background-color: lightgrey;
}
#main h3{
  color: red;
  background-color: grey;
}
#main form{
  padding-left: 10px;
  margin: 5px;
  border-radius: 5px;
  color: orange;
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
  background-color: black;padding-bottom: 10px;

}


 #main h2 {
    border: 2px solid red;
    border-radius: 8px;
    padding-left: 10px;
    background-color: blue;
}


/* biography */

#main-col{
	display: flex;
	flex-direction: row;
}
#main-col h1{
     font-size: 30px;
     font-family: areial;
}

#main-col p{
	font-size: 20px;
	padding-left: 10px;
	margin-left: 1px;
	background-color: grey;
}

#main-col img{
	height: 150px;
	display: inline;

}

/* Curriculum Vitae */
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 85%;
    height: 320px;
    background-color: lightgrey;
    padding-left: 2%;
}

.flex-item {
    background-color: cornflowerblue;
    width: 75%;
    height: 300px;
    margin: 10px;
}

.flex-item p{
	padding-left: 2%;
}

.flex-item h2{
	text-align: center;
}


/* footer */
footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #e8491d;
	text-align: center;

}

}

 @media	(max-width:768px){
 	header .container{
 		display: flex;
 		flex-direction: column;
 	
 	}
 	nav{
 		//background: green;
 	}

 }
